<h1>Hello, {{userName}}!</h1>
<p>Welcome to your Visual Studio to Lametric connector</p>
<p>this tools allows to see on on your Lametric smart clock a notification each time someone check in a changeset. 

<p><button *ngIf="! isAuthenticated" (click)="signin()">Access to VisualStudio</button></p>



<div *ngIf="isAuthenticated">
    <p>Visual Studio project full URL</p>
    <p><input maxlength="255" style="width: 500px" [(ngModel)]="testUrl" /> <button (click)="test()">Test</button> <button (click)="updateUrl()">Save</button></p>
    <p><i>i.e. https://caledos.visualstudio.com/myproject </i></p>
    
    <p><button (click)="signout()">Signout</button></p>
</div>

<b style="color:red">{{errorString}}</b>

<p></p>
<p>More Information</p>

<ul>
    <li><a href='https://blogs.msdn.microsoft.com/nicold'>NicolBlog</a> my blog on MSDN</li>
    <li><a href='https://www.linkedin.com/in/nicoladelfino'>My profile</a> on LinkedIn</li>
    <li>All <a href=''>source code</a> available on github</li>
</ul>
