<h1>Hello, {{userName}}!</h1>
<p>Welcome to your Visual Studio to Lametric connector</p>
<p>this tools allows to see on on your <a href="https://www.lametric.com">Lametric smart clock</a> a notification each time someone check in a changeset. 

<p><button *ngIf="! isAuthenticated" (click)="signin()">Access to VisualStudio</button></p>

<div *ngIf="isAuthenticated">
    <p>Visual Studio project full URL</p>
    <p><input maxlength="255" style="width: 500px" [(ngModel)]="testUrl" /> <button (click)="test()">Test</button> <button (click)="save()">Save</button></p>
    <p><i>i.e. https://caledos.visualstudio.com/myproject </i></p>
    
    <p><button (click)="signout()">Signout</button></p>
</div>

<b style="color:red">{{errorString}}</b>

<p></p>
<h1>HOW TO</h1>
<ul>
    <li>Authenticate on visual studio online (VSO) using the button on this page</li>
    <li>Write the full URL of the VSO project you want to monitors checkins (TFS projects only, NO GIT at the moment)</li>
    <li>Click the TEST button to verify if everything is working fine</li>
    <li>Click the SAVE button</li>
    <li>On your Lametric smart clock(r) look for "Visual Studio Online Checkins" app</li>
    <li>Write the email used here to log in here in email field on Lametric!</li>
    <li>Enjoy your checkins:-)</li>
</ul>

<h1>More Information</h1>
<ul>
    <li>This app on <a href='https://apps.lametric.com/apps/visual_studio_online_checkins/4358'>Lametric</a> App Store</li>
    <li><a href='https://blogs.msdn.microsoft.com/nicold'>NicolBlog</a> my blog on MSDN</li>
    <li><a href='https://www.linkedin.com/in/nicoladelfino'>My profile</a> on LinkedIn</li>
    <li>All <a href='https://github.com/nicolgit/visualstudio-lametric'>source code</a> available on github</li>
</ul>

<p>
    <video loop controls preload="none">
        <source src="/lametric-visualstudio-final.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
</p>

